.container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
.nav-panel{
	width: 25%;
	flex-direction: column;
	display: flex;
}
.content-panel{
	display: flex;
	width: 75%;
	flex-direction: column;
}
.content-panel-content{
	display: flex;
	flex-direction: column;
}
.content-table-item{
	display: flex;
	flex-direction: row;
	width: 33%;
}
.content-table-item-left{
	width: 50%;	margin-right: 2px;
}
.content-table-item-right{
	width: 50%;
	margin-left: 2px;
}
.content-table-item-header{
	
}
.content-table-item-image{
	box-sizing: inherit;
	margin: 2px;
}
.content-row{
	display: flex;
	flex-direction: row;
}
.nav-panel-header{
	
}
.nav-panel-content{
	
}
.content-panel-header{
	display: flex;
	flex-direction: row;
}
.header-text{
	
}
.site-header{
	position: relative;
}
.content-panel-header-text{
	width: 66%;
}
.search-panel{
	width: 33%;
	flex-direction: row;
}
.search-box{
	
}
.search-radio-button{
	
}
.search-box-label{
	
}
.nav-panel-list{
	list-style-type: circle;
}
img{
	max-height: 100%;
    max-width: 100%;
	box-sizing: inherit;
}