.container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
.nav-panel{
	width: 150pt;
	flex-direction: column;
	display: flex;
}
.content-panel{
	display: flex;
	
	flex-direction: column;
	padding
}
.content-panel-content{
	display: flex;
	flex-direction: column;
}
.content-table-item{
	display: flex;
	flex-direction: row;
	width: 250pt;
}
.content-table-item-left{
	width: 50%;
	margin-right: 2px;
}
.content-table-item-right{
	width: 50%;
	margin-left: 2px;
	align-self:  flex-end ;
}
.content-table-item-header{
	
}
.content-table-item-image{
	box-sizing: inherit;
	margin: 2px;
}
.content-row{
	display: flex;
	flex-direction: row;
}
.nav-panel-header{
	
}
.nav-panel-content{
	
}
.content-panel-header{
	display: flex;
	flex-direction: row;
}
.header-text{
	
}
.site-header{
	position: relative;
}
.content-panel-header-text{
	width: 66%;
}
.search-panel{
	width: 33%;
	flex-direction: row;
}
.search-box{
	
}
.search-radio-button{
	
}
.search-box-label{
	
}
.nav-panel-list{
	list-style-type: circle;
}
img{
	max-height: 100%;
    max-width: 100%;
	box-sizing: inherit;
}
.category-item-list{
	display: flex;
	flex-direction: column;
}
.content-list-item{
	display: flex;
	flex-direction: row;
}
.login-panel{
	display : flex;
	flex-direction: column;

}
.user_input_box{
	max-width: 200pt;
	margin: 5pt;
}

.content-area-as-table{
	display: flex;
	flex-flow: row wrap;
}
.content-area-as-list{
	display: flex;
	flex-direction: column;
}
.content-label{
	font : bold;
}
.content-list-item{
	display: flex;
	flex-direction: row;
}
.content-list-item-left{
	width: 100pt;
	margin-right: 2px;
}
.content-list-item-right{
	margin-left: 2px;
	align-self:  flex-end ;
}
.content-list-item-header{
	
}
.content-list-item-image{
	box-sizing: inherit;
	margin: 2px;
}